QRScanDemo/QRDemo.xcodeproj/xcuserdata
QRScanDemo/QRDemo.xcodeproj/project.xcworkspace/xcuserdata

QRScanDemo/*.hmap
QRScanDemo/*.ipa
QRScanDemo/*.dSYM.zip
QRScanDemo/*.dSYM

QRScanDemo/*.moved-aside
QRScanDemo/*.xcuserstate
QRScanDemo/*.xccheckout

QRScanDemo/*.pbxuser
QRScanDemo/!default.pbxuser
QRScanDemo/*.mode1v3
QRScanDemo/!default.mode1v3
QRScanDemo/*.mode2v3
QRScanDemo/!default.mode2v3
QRScanDemo/*.perspectivev3
QRScanDemo/!default.perspectivev3
QRScanDemo/xcuserdata/

QRScanDemo/build/
QRScanDemo/DerivedData/

QRScanDemo/*.DS_Store
